 <div class="col-md-8 blog-main">
   <%= paginate @blogs %>
   <%= render @blogs %>
   <%= paginate @blogs %>

   <!--  <nav class="blog&#45;pagination"> -->
   <!--   <a class="btn btn&#45;outline&#45;primary" href="#">Older</a> -->
   <!--   <a class="btn btn&#45;outline&#45;secondary disabled" href="#" tabindex="&#45;1" aria&#45;disabled="true">Newer</a> -->
   <!-- </nav> -->
 </div>
