<h1>About Hannah</h1>
<hr>
<p>
  Full Stack Web Developer with a certificate in Full Stack Web Development through the University of Arizona. 
  Demonstrated ability to work within teams of developers and non-technical employees to complete various aspects of a project within a set deadline.
</p>
<p>
  I have coded email templates compatible with all major email providers and integrated third-party APIs with SQL database in a web app. 
  I have a strong understanding of version control using Git, experience building Javascript based web applications using React and Node.js, 
  experience analyzing business and team needs in order to recommend and implement software and other solutions, and willingness to read documentation, learn, and implement new software and languages.
</p>
<p>
  Bringing both development and marketing experience in the build-out and launch of new websites, I am motivated by opportunities to learn and grow professionally and personally.
</p>
